.product-gallery .image-gallery-slide-wrapper {
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.product-gallery .image-gallery-swipe,
.product-gallery .image-gallery-slides,
.product-gallery .image-gallery-slide,
.product-gallery .image-gallery-image {
  height: 100% !important;
}

.product-gallery .image-gallery-image {
  object-fit: cover !important;
  height: 100% !important;
  max-height: unset !important;
}

.product-gallery .image-gallery-thumbnails-wrapper {
  margin-top: 20px;
}

.product-gallery .image-gallery-thumbnails {
}

.product-gallery .image-gallery-thumbnails-container {
  text-align: left;
  width: fit-content;
}

.product-gallery .image-gallery-thumbnail {
  border: 4px solid transparent;
  width: 180px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 7px;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.product-gallery .image-gallery-thumbnail:last-child {
  margin-right: 0;
}

.product-gallery .image-gallery-thumbnails-container .active {
  border: 4px solid #ff1f59;
}

.product-gallery .image-gallery-thumbnail:hover {
  /* border: 2px solid #ff1f59; */
  opacity: 1;
}

.product-gallery
  .image-gallery-thumbnails-container:hover
  .image-gallery-thumbnail:not(:hover) {
  opacity: 0.5;
}

.product-gallery .image-gallery-thumbnail-inner {
  height: 100%;
}

.product-gallery .image-gallery-thumbnail-image {
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .product-gallery .image-gallery-slide-wrapper {
    height: 300px;
  }
  .product-gallery .image-gallery-thumbnails-wrapper {
    margin-top: 10px;
  }
  .product-gallery .image-gallery-thumbnail {
    width: 100px;
    height: 80px;
    margin-right: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  .product-gallery .image-gallery-slide-wrapper {
    height: 300px;
  }
}
