@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
  overflow-x: hidden;
}

h1 {
  padding-top: 4px;
}

.post:hover .post-text {
  color: #710193;
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: middle;
}

.icon-phone {
  -webkit-mask-image: url("./assets/icons/telephone-call.png");
  mask-image: url("./assets/icons/telephone-call.png");
  background-color: #fff;
}
.icon-email {
  -webkit-mask-image: url("./assets/icons/mail.png");
  mask-image: url("./assets/icons/mail.png");
  background-color: #fff;
}
.icon-location {
  -webkit-mask-image: url("./assets/icons/location-pin.png");
  mask-image: url("./assets/icons/location-pin.png");
  background-color: #fff;
}

.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
