@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
  height: 10000px;
  overflow-x: hidden;
}
