@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Khula", sans-serif;
  overflow-x: hidden;
}

h1 {
  padding-top: 4px;
}

.post:hover .post-text {
  color: #710193;
}

.pl {
  display: block;
  width: 100px;
  height: 100px;
}
.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

/* Animation */
@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}
@keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  vertical-align: middle;
}

.icon-phone {
  -webkit-mask-image: url("./assets/icons/telephone-call.png");
  mask-image: url("./assets/icons/telephone-call.png");
  background-color: #fff;
}
.icon-email {
  -webkit-mask-image: url("./assets/icons/mail.png");
  mask-image: url("./assets/icons/mail.png");
  background-color: #fff;
}
.icon-location {
  -webkit-mask-image: url("./assets/icons/location-pin.png");
  mask-image: url("./assets/icons/location-pin.png");
  background-color: #fff;
}
.icon-product {
  width: 80px;
  height: 80px;
  -webkit-mask-image: url("./assets/icons/product.png");
  mask-image: url("./assets/icons/product.png");
  background-color: #000;
}
.icon-customer {
  width: 60px;
  height: 60px;
  -webkit-mask-image: url("./assets/icons/customer.png");
  mask-image: url("./assets/icons/customer.png");
  background-color: #000;
}

.icon-telegram {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url("./assets/icons/telegram.png");
  mask-image: url("./assets/icons/telegram.png");
  background-color: #fff;
}

.icon-instagram {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url("./assets/icons/instagram.png");
  mask-image: url("./assets/icons/instagram.png");
  background-color: #fff;
}
.icon-facebook {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url("./assets/icons/facebook-app-symbol.png");
  mask-image: url("./assets/icons/facebook-app-symbol.png");
  background-color: #fff;
}

.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
